* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;

  section {
    height: 100%;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    // background-color: rgb(225, 82, 82);
    // border: 2px solid black;
  }

  section:hover {
    flex-grow: 2;
    cursor: pointer;
  }

  section:nth-child(1) {
    background-image: url(ironman.jpg);
  }

  section:nth-child(2) {
    background-image: url(black.jpg);
  }

  section:nth-child(3) {
    background-image: url(moon.jpg);
  }

  section:nth-child(4) {
    background-image: url(spiderman.jpg);
  }

  section:nth-child(5) {
    background-image: url(batman.jpg);
  }
}
